.about {
    padding: 100px 80px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.about-image img {
    width: 100%;
    border-radius: 20px;
}

.about-content h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.about-content p {
    line-height: 1.8;
    color: gray;
    margin-bottom: 30px;
}